:root {
    /* Backgrounds */
    --background-gradient:                 linear-gradient(to bottom, #FFFFFF 0% 50%, #D3D3D3 90% 100%);
    --perlin-noise-background:             linear-gradient(to top right, #b4ffe536 0% 15%, #99bdff36 50%, #e298fb36 85% 100%);

    /* Text Colors */
    --form-input-placeholder-text-color:   rgba(34, 24, 28, 0.85);
    --header-text-color:                   #171214;
    --button-text-color:                   #22181C;
    --text-color:                          #22181C;
}