:root {
    --header-text-font:   "Jura", sans-serif;
    --text-font:          "Jost", sans-serif;
}

@font-face {
    font-family: 'Jost';
    src: url("../../assets/fonts/Jost-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Jura';
    src: url("../../assets/fonts/Jura-Light.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--text-font);
    color: var(--text-color);
}

