body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.85);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes popout {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.85);
    }
}

.popup { animation: popup 1.5s ease-in-out; }
.popout { animation: popout 2s ease-in; }

@keyframes background-animation {
    0% {
        transform:
            translateX(-50%),
            rotate(0.0);
    }
    50% { transform: translateX(-55%); }
    100% {
        transform:
            translateX(-50%),
            rotate(360.0);
    }
}

#background {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 350vw;
    height: 350vh;
    background: var(--perlin-noise-background);
    z-index: -1;
    pointer-events: none;
    animation: background-animation 20.0s ease-in-out infinite;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 150px 0px 150px;
}

#go-to-index-btn {
    width: 100%
}

#menus {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#menus > * {
    grid-area: 1 / 1;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#calculate-imc-form {
    background: white;
    text-align: center;
    padding: 10px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 65%;
}

#calculate-imc-form > fieldset {
    border: none;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

#calculate-imc-form-btn {
    width: 250px;
    height: fit-content;
    font-size: 1.15rem;
    padding: 0.5rem;
}

label {
    width: 100%;
    text-align: left !important;
}

input {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 10px;
    border: 2px solid var(--form-input-border-color);
    background: var(--form-input-background);
    font-size: 1.5rem;
    padding: 2px 5px 2px 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus {
    font-size: 1.55rem;
}
input:disabled {
    background: none;
    font-size: 1.55rem;
}

#imc-calculated-menu {
    width: 65%;
}

#imc-calculated-menu-advice-container {
    background: white;
    text-align: center;
    padding: 10px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.force-hide {
    display: none !important;
}

@media (max-width: 768px) {
    #container { padding: 0px 15px 0px 15px; }
    #calculate-imc-form, #imc-calculated-menu { width: 100%; }
    input { font-size: 1.25rem; }
    input:focus { font-size: 1.3rem; }
    #calculate-imc-form-btn { width: 100%; }
}